/* GREETINGS — WELCOME TO MY CODE 
written by sara al silva 
for digital design master's degree */


/* ---- GENERAL ---- */

* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #F6F3F1;
}

b {
    font-weight: bold !important;
}

/* ---- OVERALL FIXES ---- */

main {
    padding-top: 40px;
}

img {
    width: 100%;
}

img:hover {
    cursor: pointer;
}

.container-fluid {
    overflow: hidden;
}

.container-fluid>.col-lg-6 {
    overflow: hidden;
}

.shape-details img {
    width: auto;
    height: 300px;
    transition: all 800ms ease;
}

.shape-details img:hover {
    transform: rotate(-8deg);
    transform-origin: bottom right;
}

.fixed-top {
    z-index: 1;
}

/* ---- TEXT STYLES ---- */

h1,
h2 {
    color: #333;
    font-family: orpheuspro, serif;
    font-size: 4rem;
    font-weight: 400;
}

h3 {
    font-family: orpheuspro, serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    line-height: 1.8 !important;
}

p {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #7a7a7a;
    line-height: 1.6 !important;
}

p.small-p,
a.small-p {
    font-family: 'Karla', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: rgb(104, 104, 104);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.6 !important;
}

/* ---- COLORS ---- */

.bg-beige {
    background-color: #F6F3F1 !important;
}

.bg-green {
    background-color: #797F54 !important;
}

.beige {
    color: #DACFC1 !important;
}

.dark {
    color: #333 !important;
}

/* ---- LINK STYLES ---- */

.animated-underline::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #333;
    transition: width .3s;
}

.animated-underline:hover::after,
.animated-underline-beige:hover:after {
    width: 100%;
    transition: width .3s;
}

.animated-underline-beige::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #DACFC1 !important;
    transition: width .3s;
}

a.inverse-underline:hover {
    cursor: pointer;
}

.inverse-underline::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #333;
    transition: width .3s;
}

.inverse-underline:hover::after,
.inverse-underline-beige:hover:after {
    cursor: pointer;
    width: 0;
    transition: width .3s;
}

.inverse-underline-beige::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #DACFC1 !important;
    transition: width .3s;
}

a.cta {
    display: inline-block;
    text-decoration: none;
}

/* ---- IMG HOVER STYLE ---- */

.img-zoom-hover {
    overflow: hidden;
    position: relative;
}

.img-zoom-hover img {
    transition: 0.5s;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.img-zoom-hover img:hover {
    -moz-transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
    -o-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    transform: scale(1) !important;
}

.grayscale {
    filter: grayscale(0.5);
    transition: all 300ms ease;
}

.grayscale:hover {
    filter: grayscale(0);
}

/* ---- IMG REVEAL ANIMATION ---- */

.img-reveal {
    overflow: hidden;
    height: 0;
    animation: slide 0.9s 3s forwards;
}

.img-reveal>* {
    animation: scale 0.9s 3s forwards;
}

@keyframes slide {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

@keyframes scale {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

/* ---- SLIDE UP CONTENT ON SCROLL ---- */

.slide-up {
    opacity: 0;
    transition: all 300ms ease;
}

.slide-up-content {
    opacity: 1;
    transform: translateY(150px);
    animation: slide-up-content 0.8s ease forwards;
}

.slide-up-content.slow {
    animation: slide-up-content 1s ease forwards !important;
}

.slide-up-content.extra-slow {
    animation: slide-up-content 1.2s ease forwards !important;
}

.slide-up-content.mega-slow {
    animation: slide-up-content 1.5s ease forwards !important;
}

.visible {
    transform: translateY(0);
    animation: none;
}

@keyframes slide-up-content {
    to {
        transform: translateY(0);
    }
}

/* ----------------- CONTENT -----------------*/
/* ------------------------------------------ */
/* ------------------------------------------ */

/* ---- PRELOADER ---- */

.beige-loader {
    z-index: 9999;
    overflow: hidden;
    background-color: #F6F3F1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 9;
    transform: translateY(-100%);
    -webkit-animation: beige-loader 1.2s cubic-bezier(0.5, 0.6, 0.2, 1);
    -moz-animation: beige-loader 1.2s cubic-bezier(0.5, 0.6, 0.2, 1);
    animation: beige-loader 1.2s cubic-bezier(0.5, 0.6, 0.2, 1);
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.beige-loader h2 {
    color: #797F54;
}

@-webkit-keyframes beige-loader {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}

@keyframes beige-loader {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}

.fade-in-up {
    animation: fade-in-up 3s cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-fill-mode: backwards;
    animation-delay: .3s;
}

.green-beige-loader {
    background-color: #797F54;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 5;
    transform: translateY(-100%);
    -webkit-animation: beige-loader .8s cubic-bezier(0.5, 0.6, 0.2, 1);
    -moz-animation: beige-loader .8s cubic-bezier(0.5, 0.6, 0.2, 1);
    animation: beige-loader .8s cubic-bezier(0.5, 0.6, 0.2, 1);
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

@-webkit-keyframes beige-loader {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}

@keyframes beige-loader {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}

.center {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

@-webkit-keyframes fade-in-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate {
    -webkit-animation: animate 1.2s cubic-bezier(0.2, 0.6, 0.2, 1);
    -moz-animation: animate 1.2s cubic-bezier(0.2, 0.6, 0.2, 1);
    animation: animate 1.2s cubic-bezier(0.2, 0.6, 0.2, 1);
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes animate {
    0% {
        -webkit-transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* ---- MENU ---- */

.menu-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: fixed;
    z-index: 1;
    background-color: #F6F3F1;
}

.logo a {
    font-family: orpheuspro, serif;
    font-size: 2rem;
    font-weight: 400;
    color: #333;
    letter-spacing: 0;
    transition: all 500ms ease;
}

.logo a:hover {
    text-decoration: none;
    letter-spacing: 1px;
    opacity: 0.8;
    /* transform: translateX(-5px); */
}

.overlay-menu ul li:last-child {
    margin-right: 0;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul li {
    display: inline-block;
    margin-right: 4rem;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

ul li a:hover {
    color: #333;
    text-decoration: none;
}


/* ---- MENU FOOTER AND SOCIAL MEDIA ICONS ---- */

ul.footer-menu li {
    margin: 0 !important;
    padding: 4px 0;
}

ul.footer-menu li a {
    font-size: 0.8rem;
    color: #DACFC1 !important;
}

a.cta {
    cursor: pointer;
}

.socials {
    width: 100%;
}

.socials a {
    padding-left: 40px !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: baseline;
}

.socials a:first-child {
    padding-left: 0px !important;
}

.socials i {
    color: #DACFC1 !important;
}

.socials a:hover,
.socials i:hover {
    opacity: 0.7;
    transition: all 300ms ease;
}

/* ---- SUBSCRIBE FORM ---- */

.subscribe {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input {
    width: 100%;
    color: #DACFC1;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #DACFC1 !important;
}

input:focus {
    border-bottom: 1px solid #DACFC1 !important;
}

::placeholder {
    opacity: 0.5;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    color: #DACFC1 !important;
}

input[type=submit] {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    color: #DACFC1 !important;
    text-align: right;
    cursor: pointer;
}


/* ---- CONTACT INFO AND FORM ---- */

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: span 3;
}

.contacts input {
    color: #333;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.form-row:nth-child(2) {
    grid-template-columns: 1fr;
}

.form input,
.form select,
.form textarea {
    background: transparent !important;
    margin-bottom: 80px !important;
    border: none !important;
    border-bottom: 1px solid #7a7a7a !important;
    padding-bottom: 10px;
    text-transform: none;
}

.form textarea:focus,
.form input:focus {
    outline: none;
}

.form input[type=submit] {
    display: inline-block;
    color: #333;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    text-align: left;
    font-weight: 600;
    text-transform: lowercase;
    background: transparent !important;
    border: 0 none;
    cursor: pointer;
    border-radius: 0;
    border-bottom: none !important;
}

.form input {
    color: #333;
}

.form ::placeholder {
    color: #7a7a7a !important;
}

/* ---- FAQ ---- */

.toggle:last-child {
    border-bottom: 1px solid #dddddd;
}

.toggle .toggle-question {
    position: relative;
    display: block;
    border-top: 1px solid #dddddd;
    margin-bottom: 6px;
}

.toggle .toggle-question h3 {
    font-size: 20px;
    margin: 0px;
    line-height: 1;
    cursor: pointer;
    font-weight: 200;
}

.toggle .toggle-answer {
    padding: 7px 25px 10px 25px;
    display: none;
    margin: -7px 0 6px;
}

.toggle .toggle-answer div {
    max-width: 100%;
}

.toggle .toggle-question .faq-question {
    display: block;
    padding: 25px 25px 14px;
}

.toggle .toggle-question a i {
    font-size: 22px;
    margin-right: 5px;
}

.toggle .toggle-question i {
    position: absolute;

    width: 24px;
    height: 24px;
    transition: all 0.3s ease;
    margin: 20px;
    right: 0;
}

/* .toggle .toggle-question.active i {
    background: url("http://arielbeninca.com/Storage/plus_minus.png") 0px 0px no-repeat;
} */

/* ---- COLLECTION ---- */

.product-archive a,
.product-archive a h2 {
    transition: all 300ms ease;
}

.product-archive a:hover {
    text-decoration: none;
}

.product-archive a:hover img,
.product-archive a:hover p,
.product-archive a:hover h2 {
    opacity: 0.8;
}

.product-archive a:hover h2 {
    letter-spacing: 2px;
}


/* ----------------- MOBILE ------------------*/
/* ------------------------------------------ */
/* ------------------------------------------ */

@media screen and (max-width: 720px) {

    /* ---- BURGER STYLE ---- */

    .burger {
        width: 20px;
        position: relative;
        z-index: 9999;
        transition: all 300ms ease;
    }

    .line {
        width: 20px;
        height: 2px;
        background-color: #333;
        margin: 6px 0 !important;
        transition: 400ms;
    }

    .change .line:nth-last-child(1) {
        width: 20px;
        transform: rotate(-45deg);
        margin-top: -8px !important;

    }

    .change .line:nth-last-child(2) {
        width: 20px;
        transform: rotate(45deg);
        /* transform-origin: bottom left; */
    }

    /* ---- OVERLAY ---- */

    .overlay {
        overflow: hidden;
        min-height: 100%;
        height: auto;
        z-index: 1000;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #dacfc0;
        top: 0;
        right: 0;
        width: 0%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, width .50s, visibility .35s, height .35s;
    }

    .overlay.open {
        overflow: hidden;
        opacity: 1;
        visibility: visible;
        height: 100%;
        width: 100%;
    }

    /* ---- OVERLAY MENU ---- */

    .overlay.open li {
        margin: 0 !important;
        padding: 0 !important;
        justify-items: center;
        animation: fadeInRight .5s ease forwards;
        animation-delay: .30s;
    }

    .overlay.open li:nth-of-type(2) {
        animation-delay: .4s;
    }

    .overlay.open li:nth-of-type(3) {
        animation-delay: .45s;
    }

    .overlay.open li:nth-of-type(4) {
        animation-delay: .50s;
    }

    .overlay.open li:nth-of-type(5) {
        animation-delay: .55s;
    }

    .overlay nav {
        text-align: center;
    }

    .overlay ul {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;
    }

    .overlay ul li {
        display: block;
        position: relative;
        text-decoration: none;
        overflow: hidden;
        opacity: 0;
    }

    .overlay.open li {
        padding: 20px 0 !important;
    }

    .overlay.open li:last-child {
        padding: 20px 0 0 0 !important;
    }


    .overlay.open li a {
        font-size: 2rem;
        font-family: orpheuspro, serif;
    }

    .no-scroll {
        overflow: hidden;
    }

    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 50%;
        }

        100% {
            opacity: 1;
            left: 0;
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 50%;
        }

        100% {
            opacity: 1;
            left: 0;
        }
    }

    /* ---- REMOVE LINK HOVER ---- */

    .animated-underline:hover::after,
    .animated-underline-beige:hover::after {
        width: 0;
    }

    /* ---- CONTACT FORM ---- */

    .form-row {
        display: grid;
        grid-template-columns: 1fr !important;
    }

}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* -- THE END - CRAFTED BY SARA SILVA A11652  -- */